#urlbar,
.urlbar-container,
.urlbar-background,
#identity-box {
    border-radius: var(--url-bar-border-radius) !important;
}

#identity-box {
    clip-path: inset(0% 0% 0% 0% round var(--url-bar-border-radius));
}

#urlbar {
    margin: 0px !important;
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

/* floating search bar */
#urlbar[breakout-extend] {
    z-index: 9999 !important;
    left: 10% !important;
    width: calc(100vw - 20%) !important;
    transform: translateY(20vh);
}

#vertical-spacer {
    display: none;
}

/* hides the search engines in the url bar */
.search-one-offs,
/* hides the window buttons */
.titlebar-buttonbox, .titlebar-spacer[type="post-tabs"],
/* hides the menu bar */
#toolbar-menubar {
    display: none !important;
}

:root[titlepreface*="á Ž"] #navigator-toolbox {
  display: none;
}
