@define-color bar-bg rgba(0, 0, 0, 0);

/* base */
@define-color main-bg #181825;
@define-color main-fg #cdd6f4;

/* crust */
@define-color wb-act-bg #11111b;
@define-color wb-act-fg #cdd6f4;

@define-color wb-hvr-bg #89b4fa;
@define-color wb-hvr-fg #cdd6f4;
